body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    /* background-color: aliceblue; */
     background-color: #120B2B;
}

.header .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header .logo {
    width: 200px;
    height: 50;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}

.nav-bar ul li {
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.nav-bar ul li a {
    text-decoration: none;
    color: aliceblue;
}

.nav-bar ul li a:hover {
    color: #7A62FF;
}

.nav-bar ul .login {
    cursor: pointer;
    background-color:#7A62FF;
    color: aliceblue;
    padding: 10px 30px ;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}

.nav-bar ul .login:hover {
    background-color: #6E58EA;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    background: linear-gradient(210deg,#020617 0%,#140c2b 5%,#0a072e 60%,#2a0e78 100%);
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding-top: 40px;
}

.restraunt-card {
    width: 260px;
    text-align: center;
    padding: 10px 10px 15px 10px;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(195, 224, 249);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.restraunt-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transform: scale(1.02);
}

.restraunt-card .logo2 {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

.restraunt-card h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.restraunt-card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font: 14px;
}

.restraunt-card p,
.restraunt-card h2 {
    margin: 12px 0;
}

.restraunt-card .button {
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
    border: none;
    /* background-color: #f70069; */
    background-color:#7A62FF;
    color: #ffffff;
    font-weight: 600;
    padding: 10px 20px;
}

.restraunt-card .button:hover {
    /* background-color: #de005e; */
    background-color: #6E58EA;
}

.search-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.search-container .searchbar {
    width: 300px;
    font-size: 16px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    padding: 10px 20px;
    border: none;
    color: #120B2B;
    background-color: aliceblue;
}

.search-container .searchbar::placeholder {
    color: #140c2b;
    font-weight: 600;
}

.search-container .search-button {
    cursor: pointer;
    border: none;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    color: white;
    /* background-color:#f70069; */
    background-color:#7A62FF;
}

.search-container .search-button:hover {
    /* background-color: #de005e; */
    background-color: #6E58EA;
}

.sortbutton-container{
    display:flex;
    gap: 20px;
    padding-top: 40px;
}

.sortbutton-container .sort-button {
    width: 180px;
    /* background-color:#f70069 ; */
    background-color:#7A62FF;
    
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    padding: 10px;
}

.sortbutton-container .sort-button:hover {
    /* background-color: #de005e; */
    background-color: #6E58EA;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/*Shimmer*/
.body-shimmer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    background-color: #120B2B;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 80vw;
    padding-top: 40px;
}

.shimmer-card {
    width: 260px;
    height: 400px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(195, 224, 249) 25%, rgb(203, 221, 238) 50%, rgb(195, 224, 249) 75%);
    animation: shimmer 1.5s infinite;
}

.search-shimmer-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.search-shimmer-container .searchbar-shimmer {
    width: 300px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    padding: 10px 20px;
    border: none;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    animation: shimmer 1.5s infinite;
}

.search-shimmer-container .search-button-shimmer {
    height: 40px;
    width: 120px;
    padding: 10px 30px;
    cursor: pointer;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border: none;
    background: linear-gradient(90deg, rgb(195, 224, 249) 25%, rgb(203, 221, 238) 50%, rgb(195, 224, 249) 75%);
    animation: shimmer 1.5s infinite;
}

.sortbutton-container-shimmer{
    display:flex;
    gap: 20px;
    padding-top: 40px;
}

.sortbutton-container-shimmer .sort-button-shimmer {
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(195, 224, 249) 25%, rgb(203, 221, 238) 50%, rgb(195, 224, 249) 75%);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        background-position: -280px 0;
    }
    100% {
        background-position: 280px 0;
    }
}